<%= form_with model: @tweet, local: true do |f|%>

    <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :question, "問題文" %><br />
    <%= f.text_area :question, class: :form__text, id:"tweet_question" %>
  </div>

  <div class="field">
    <%= f.label :answer, "選択肢１" %><br />
    <%= f.text_field :answer, id:"tweet_answer" %>
  </div>

  <div class="field">
    <%= f.label :first_incorrection, "選択肢２" %><br />
    <%= f.text_field :first_incorrection, id:"tweet_first_incorrection" %>
  </div>

  <div class="field">
    <%= f.label :second_incorrection, "選択肢３" %><br />
    <%= f.text_field :second_incorrection, id:"tweet_second_incorrection" %>
  </div>

  <div class="field">
    <%= f.label :answer_feedback, "フィードバック１" %><br />
    <%= f.text_area :answer_feedback, class: :form__text, id:"tweet_answer_feedback" %>
  </div>

  <div class="field">
    <%= f.label :first_feedback, "フィードバック２" %><br />
    <%= f.text_area :first_feedback, class: :form__text, id:"tweet_first_feedback" %>
  </div>

  <div class="field">
    <%= f.label :second_feedback, "フィードバック３" %><br />
    <%= f.text_area :second_feedback, class: :form__text, id:"tweet_second_feedback" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>

<% end %>