<div class="header">
  <div class="inner-header">
    <h1 class="title">
     Qweet Room
    </h1>
    <ul class='btn-lists'>
      <% if user_signed_in? %>
        <li><%= link_to '新規投稿', new_tweet_path, class: "left-btn" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "right-btn" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "left-btn" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "right-btn" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="main">
  <% @tweets.each do |tweet|%>
    <div class="question-wrap">
      <h3 class="nickname">
        <%= tweet.user.nickname %>
      </h3>
      <div class="question-box">
        <div class="question-initial">Ｑ．</div>
        <div class="question-text">
          <%=link_to tweet.question, tweet_path(tweet.id) %>
        </div>
      </div>
    </div>
  <%end%>
</div>