<div class="tweet-show">
  <div class="tweet-header">
    <h4 class="user-nickname">
      投稿者：<%= @tweet.user.nickname %>
    </h4>
    <div class="tweet-btn">
      <% if user_signed_in? && @tweet.user_id == current_user.id %>
        <%= link_to "編集", edit_tweet_path(@tweet.id), method: :get, class: "tweet-edit-btn" %>
        <%= link_to "削除", tweet_path(@tweet.id), method: :delete, class:"tweet-destroy-btn" %>
      <% end %>
    </div>
  </div>
  <div class="tweet-box">
    <div class="detail-question-box">
      <div class="detail-question-initial">Ｑ.</div>
      <div class="detail-question-text"><%= @tweet.question %></div>
    </div>
    <div class="detail-choices-table">
      <div class="detail-choices">
        <div class="detail-choice-box"><a href="" class="detail-choice"><%= @tweet.answer %></a></div>
        <div class="detail-choice-box"><a href="" class="detail-choice"><%= @tweet.first_incorrection %></a></div>
        <div class="detail-choice-box"><a href="" class="detail-choice"><%= @tweet.second_incorrection %></a></div>
      </div>
      <div class="feedback-label">フィードバック</div>
        <div class="feedbacks">
        <div class="feedback" style="display: none;"><%= @tweet.answer_feedback %></div>
        <div class="feedback" style="display: none;"><%= @tweet.first_feedback %></div>
        <div class="feedback" style="display: none;"><%= @tweet.second_feedback %></div>
      </ul>
    </div>
  </div>
  <div class="comment-box">
    <div class="comment-label">コメント</div>
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>